{% extends "base_alumnos.html" %}

{% block title %}Actividades del Alumno{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_vista.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">
    <!-- Contenido principal ajustado -->
    <div class="main-content">
        <div class="projects-container">
            <div class="header">
                {% if alumno %}
                    <h1>Actividades del Alumno</h1>
                    <div class="alumno-info">
                        <p><strong>Nombre del Alumno:</strong> {{ alumno.nombreAlumno }} {{ alumno.apellidosAlumno }}</p>
                        <p><strong>Matrícula:</strong> {{ alumno.matricula }}</p>
                        <p><strong>Grupo:</strong> {{ alumno.grupo }}</p>
                        <p><strong>Carrera:</strong> {{ alumno.NombreCarrera }}</p>
                        <p><strong>Periodo:</strong> {{ alumno.NombrePeriodo }} ({{ alumno.Duracion }})</p>
                        <p><strong>Tipo de Estadía:</strong> {{ alumno.tipo_estadia }}</p>
                    </div>
                {% else %}
                    <h1>Alumno no encontrado</h1>
                {% endif %}
            </div>

            <div class="card-container">
                {% if documentos %}
                    {% for key, documento in documentos.items() %}
                        {% if key not in ['_id', 'id_usuario'] %}
                        <div class="card {% if documento.estado == 'aceptado' or documento.estado == 'entregado' %}completado{% else %}pendiente{% endif %}">
                            <div class="card-header">
                                <h3 class="document-name">{{ key }}</h3>
                            </div>
                            <div class="card-status">
                                {% if documento.estado == 'aceptado' %}
                                    <span class="status completado">Completado <i class="bi bi-check2-circle" style="color: green;"></i></span>
                                {% elif documento.estado == 'entregado' %}
                                <span class="status completado">Entregado <i class="bi bi-check2-circle" style="color: green;"></i></span>
                                {% elif documento.estado == 'activo' %}
                                <span class="status completado">Activo <i class="bi bi-check2-circle" style="color: green;"></i></span>
                                {%else%}
                                    <span class="status pendiente">Sin activar <i class="bi bi-x-circle" style="color: red;"></i></span>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                {% if documento.estado == 'aceptado' or documento.estado == 'entregado' %}
                                    <a href="{{ url_for('ver_archivo_alumno_uta', nombre_archivo=key, id_alumno=alumno._id) }}" class="btn-visualizar">Visualizar</a>
                                {% else %}
                                    <h3 class="entregar-documento-title">Entregar Documento</h3>
                                    <button type="button" class="btn-subir-archivo" data-bs-toggle="modal" data-bs-target="#SubirArchivo{{key}}">Subir archivo</button>
                                    <div id="fileNameContainer-{{ key }}" class="file-name-container" style="display: none;">
                                        <span id="fileName-{{ key }}"></span>
                                    </div>
                                    <div class="modal fade" id="SubirArchivo{{key}}" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" method="POST" enctype="multipart/form-data"> 
                                                        <div class="form-group upload-section">
                                                            <label for="archivo-{{ key }}" class="custom-file-label">Seleccionar archivo</label>
                                                            <input class="file-input" type="file" id="archivo-{{ key }}" name="archivo" required accept=".pdf" onchange="updateFileName('{{ key }}')">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="id_alumno" value="{{ alumno._id }}">
                                                            <button type="button" class="btn btn-primary btn-upload" id="upload-{{ key }}" style="display: none;">Subir archivo</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No hay actividades para mostrar.</p>
                {% endif %}
            </div>    
        </div>
    </div>

    <!-- Sidebar derecho fijo solo con la barra de progreso -->
    <div class="right-sidebar">
        <h2>Progreso del Alumno</h2>
        <div class="progress">
            {% set progreso_total = alumno.progreso if alumno.progreso is not none else 0 %}  {# Asegúrate de que 'progreso' no sea None #}
            {% set progreso_clase = 'bg-primary' if progreso_total < 100 else 'bg-success' %}  {# Cambia el color según el progreso #}
            
            <div class="progress-bar {{ progreso_clase }}" role="progressbar" 
                aria-valuenow="{{ progreso_total }}" 
                aria-valuemin="0" 
                aria-valuemax="100" 
                style="width: {{ progreso_total }}%;">
                {{ progreso_total | round(0) }}%  {# Muestra el progreso redondeado #}
            </div>
        </div>
    </div>
</div>    
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/alumnos_vista.js') }}"></script>
{% endblock %}
