{% extends "base.html" %}

{% block title %}Actividades del Alumno{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_documentos.css') }}">
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/BarraDProgreso.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div style="width: 25%; position: fixed; top: 20%; z-index: 1050;"
        class="alert alert-{{ category }} alert-dismissible fade show flash-message" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="page-container">
    
    <!-- Contenido principal ajustado -->
    <div class="main-content">
        <div class="projects-container">
            <div class="header">
                {% if alumno %}
                <h1>Actividades del Alumno</h1>
                <div class="alumno-info">
                    <p><strong>Nombre del Alumno:</strong> {{ alumno.Nombre }} {{ alumno.Apellido_Pat }}
                        {{alumno.Apellido_Mat }}</p>
                    <p><strong>Matrícula:</strong> {{ alumno.Matricula }}</p>
                    <p><strong>Grupo:</strong> {{ alumno.Grupo }}</p>
                    <p><strong>Carrera:</strong> {{ alumno.Carrera }}</p>
                    <p><strong>Periodo:</strong> {{ alumno.NombrePeriodo }} ({{ alumno.Duracion }})</p>
                    <p><strong>Tipo De Estadia:</strong> {{ alumno.Tipo_estadía}}</p>

                </div>
                {% else %}
                <h1>Alumno no encontrado</h1>
                {% endif %}
            </div>

            {%if documentos is none %}
            <div class="card-container">
                {% if alumno %}
                <div
                    class="card {% if alumno.formato_tres_opciones.estado == 'aceptado' or alumno.formato_tres_opciones.estado == 'entregado' %}completado{% elif alumno.formato_tres_opciones.estado == 'devuelto' %}devuelto{% else %}pendiente{% endif %}">
                    <div class="card-header">
                        <h3 class="document-name">formato_tres_opciones</h3>
                    </div>
                    <div class="card-status">
                        {% if alumno.formato_tres_opciones.estado == 'aceptado' %}
                        <span class="status completado">Completado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'entregado' %}
                        <span class="status entregado">Entregado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'activo' %}
                        <span class="status completado">Activo <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'devuelto' %}
                        <span class="status devuelto">devuelto <i class="bi bi-check2-circle"
                                style="color: rgb(215, 206, 23);"></i></span>
                        {% else %}
                        <span class="status pendiente">Sin activar <i class="bi bi-x-circle"
                                style="color: red;"></i></span>
                        {% endif %}
                    </div>
                    
                    <div class="card-footer">
                        {% if alumno.formato_tres_opciones.estado == 'activo' %}
                        <!-- Si el estado es activo, no se muestran botones -->
                        {% elif alumno.formato_tres_opciones.estado == 'entregado' %}
                        <!-- Orden: Visualizar, Aceptar, Devolver -->
                        <a href="{{ url_for('view.ver_archivo_alumno_uta_0',id_alumno=alumno._id) }}"
                            class="btn-visualizar"><i class="fas fa-eye"></i>Visualizar</a>
                        <a type="button" class="btn-aceptar" data-bs-toggle="modal"
                            data-bs-target="#Aceptar_documento{{alumno._id}}"><i class="fas fa-check-circle"></i>Aceptar</a>
                        <a type="button" class="btn-devolver" data-bs-toggle="modal" data-bs-target="#devolver_documento"><i class="fas fa-times-circle"></i>Devolver</a>
                        {% elif alumno.formato_tres_opciones.estado == 'aceptado' %}
                        <!-- Solo muestra el botón Visualizar -->
                        <a href="{{ url_for('view.ver_archivo_alumno_uta_0',id_alumno=alumno._id) }}"
                            class="btn-visualizar"><i class="fas fa-eye"></i>Visualizar</a>
                        {% elif alumno.formato_tres_opciones.estado == 'devuelto' %}
                        <p class="status-info">El documento ha sido devuelto.</p>
                        {% else %}
                        {% endif %}
                    </div>

            </div>

            <div class="modal fade" id="Aceptar_documento{{alumno._id}}" tabindex="-1"
                    aria-labelledby="editarModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title fs-3" id="editarModalLabel">Aceptar Formato tres opciones</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('Vinculacion.aceptar_documento_nuevo_uta') }}" method="POST">
                                    <div class="form-group">
                                        <label for="estadia">Estadia del alumno del Alumno</label>
                                        <select class="form-select me-2" id="tipo_estadia" name="tipo_estadia">
                                            <option value="documentosTSU">Normales</option>
                                            <option value="documentos_Foraneas">Foraneas</option>
                                            <option value="documentos_Especiales">Especiales</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="hidden" name="id_alumno" value="{{ alumno._id }}">
                                        <input type="hidden" name="estadia_Alumno" value="{{ alumno['TSU/ING'] }}">
                                        <input type="hidden" name="nombre" value="{{ alumno.Nombre }}">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Devolver</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="modal fade" id="devolver_documento" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fs-5" id="editarModalLabel">Devolver Documento</h4>
                            
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('update_vinculacion.devolver_documento_alumno_uta') }}" method="POST">
                            
                                <div class="form-group">
                                    <label>Nombre del documento</label>
                                    <input type="text" class="form-control" value="formato_tres_opciones" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Razon de devolvicion</label>
                                    <input type="text" class="form-control"  id="comentario" name="comentario" required>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id_alumno" value="{{alumno._id }}">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Devolver</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {%endif%}


         
            {% else %}
            <div class="card-container">
                {% if alumno %}
                <div
                    class="card {% if alumno.formato_tres_opciones.estado == 'aceptado' or alumno.formato_tres_opciones.estado == 'entregado' %}completado{% elif alumno.formato_tres_opciones.estado == 'devuelto' %}devuelto{% else %}pendiente{% endif %}">
                    <div class="card-header">
                        <h3 class="document-name">formato_tres_opciones</h3>
                    </div>
                    <div class="card-status">
                        {% if alumno.formato_tres_opciones.estado == 'aceptado' %}
                        <span class="status completado">Completado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'entregado' %}
                        <span class="status completado">Entregado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'activo' %}
                        <span class="status completado">Activo <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif alumno.formato_tres_opciones.estado == 'devuelto' %}
                        <span class="status devuelto">devuelto <i class="bi bi-check2-circle"
                                style="color: rgb(215, 206, 23);"></i></span>
                        {% else %}
                        <span class="status pendiente">Sin activar <i class="bi bi-x-circle"
                                style="color: red;"></i></span>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if alumno.formato_tres_opciones.estado == 'aceptado' %}
                        <a href="{{ url_for('view.ver_archivo_alumno_uta_0',id_alumno=alumno._id) }}"
                            class="btn-visualizar"><i class="fas fa-eye"></i>Visualizar</a>
                        {% endif %}
                    </div>

                </div>
                


                {%endif%}
                {% for key, documento in documentos.items() %}
                {% if key not in ['_id', 'id_usuario'] %}
                <div
                    class="card {% if documento.estado == 'aceptado' or documento.estado == 'entregado' or documento.estado == 'activo'  %}completado{% elif documento.estado == 'devuelto' %}devuelto{% else %}pendiente{% endif %}">
                    <div class="card-header">
                        <h3 class="document-name">{{ key }}</h3>
                    </div>
                    <div class="card-status">
                        {% if documento.estado == 'aceptado' %}
                        <span class="status completado">Completado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif documento.estado == 'entregado' %}
                        <span class="status completado">Entregado <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% elif documento.estado == 'devuelto' %}
                        <span class="status devuelto">Devuelto <i class="bi bi-check2-circle"
                                style="color: rgb(215, 206, 23);"></i></span>
                        {% elif documento.estado == 'activo' %}
                        <span class="status completado">Activo <i class="bi bi-check2-circle"
                                style="color: green;"></i></span>
                        {% else %}
                        <span class="status pendiente">Sin activar <i class="bi bi-x-circle"
                                style="color: red;"></i></span>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        {% if documento.estado == 'activo' %}
                        {% elif documento.estado == 'entregado' %}
                        <a href="{{ url_for('view.ver_archivo_alumno', nombre_archivo=key, id_alumno=alumno._id) }}"
                            class="btn-visualizar"><i class="fas fa-eye"></i>visualizar</a>
                        <a href="{{ url_for('update_vinculacion.aceptar_documento_nuevo', documento_nombre=key, id_alumno=alumno._id) }}" class="btn-aceptar"><i class="fas fa-check-circle"></i>Aceptar</a>
                        <a type="button" class="btn-devolver" data-bs-toggle="modal"
                            data-bs-target="#devolver_documento{{ key }}"><i class="fas fa-times-circle"></i>Devolver</a>
                        {% elif documento.estado == 'aceptado' %}
                        <a href="{{ url_for('view.ver_archivo_alumno', nombre_archivo=key, id_alumno=alumno._id) }}"
                        class="btn btn-primary btn-sm">view</a>
                        {% elif documento.estado == 'devuelto' %}
                        <p class="status-info">El documento ha sido devuelto.</p>
                        {% else %}
                        <a href="{{ url_for('update_vinculacion.actualizar_estado_documento_nuevo', documento_nombre=key, id_alumno=alumno._id) }}" class="btn btn-warning">Activar</a>
                        {% endif %}
                    </div>
                </div>

                <div class="modal fade" id="devolver_documento{{ key }}" tabindex="-1"
                            aria-labelledby="editarModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title fs-5" id="editarModalLabel">Devolver Documento</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('update_vinculacion.devolver_documento_alumno') }}" method="POST">
                                            <div class="form-group">
                                                <label>Nombre del documento</label>
                                                <input type="text" class="form-control" value="{{ key }}"
                                                    id="Nombre_documento" name="Nombre_documento" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label>Razón de devolución</label>
                                                <input type="text" class="form-control" id="comentario"
                                                    name="comentario" required>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="id_alumno" value="{{ alumno._id }}">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Devolver</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
                {% endif %}
                {% endfor %}



            </div>
            {%endif%}

        </div>
    </div>

</div>


    <!-- Sidebar derecho fijo solo con la barra de progreso -->
    <div class="sidebar-progreso">
        <div class="header-list">
            <h3>Progreso del Estudiante</h3>
        </div>
        <div class="contenido">
            <div class="progress">
                {% set progreso_total = alumno.progreso if alumno.progreso else 0 %}
                {% set progreso_clase = 'bg-primary' if progreso_total < 100 else 'bg-success' %} <div
                    class="progress-bar {{ progreso_clase }}" role="progressbar" aria-valuenow="{{ progreso_total }}"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{ progreso_total }}%;">
                    {{ progreso_total | round(0) }}%
            </div>
        </div>
        <div class="table-container">
            <table class="alumnos-table">
                <thead style="background-color: var(--primary-color);">
                    <tr>
                        <th>Actividad</th>
                        <th>Estatus</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for actividad in alumno.actividades  %}
                <tr>
                    {% if actividad.estatus == 'completado' %}
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.estatus }}<i style="color: green;" class="bi bi-check2-circle"></i></td>
                        <td><span>Actividad completada</span></td>
                    {% else %}
                        <td>{{ actividad.nombre }}</td>
                        <td>{{ actividad.estatus }} <i style="color: red;" class="bi bi-x-circle"></i></td>
                        {% if actividad.encargado == 'vinculacion' %}
                            <td><a href="{{ url_for('update_vinculacion.actualizar_estado_Actividad', documento_id=actividad.idActividad, id_alumno=alumno._id, redirect_view='Vinculacion.documento_alumnos, nombre=alumno.Nombre + ' ' + alumno.Apellido_Pat') }}" class="btn">Completar</a></td>
                        {% else %}
                            <td><span>No disponible</span></td>
                        {% endif %}
                    {% endif %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/alumnos_vista.js') }}"></script>
{% endblock %}