<!-- templates/alumnos.html -->
{% extends 'base_departamentos.html' %}

{% block title %}Información de Alumnos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos.css') }}">
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/BarraDProgreso.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div style="width: 25%; position: fixed; top: 20%; right: 10%; z-index: 1050;"
    class="alert alert-{{ category }} alert-dismissible fade show flash-message" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="alumnos-container">
    <h1 class="text-center">Lista de Alumnos</h1>
    <div class="search-bar">
        <input type="text" id="search-box" class="search-box" placeholder="Buscar alumno por nombre o matrícula..."
            oninput="filterTable()">
        <select id="filtroEstadia" class="form-select me-2">
            <option value="">Todas las estadias</option>
            <option value="TSU">Estadias T.S.U</option>
            <option value="ING">Ingeniería</option>
        </select>
        <select id="filtroCarrera" class="form-select me-2" oninput="filterTable()">
            <option value="">Todas las carreras</option>
            <option value="MANTO">MANTENIMIENTO</option>
            <option value="GASTRO">GASTRONOMIA</option>
            <option value="TICS">TECNOLOGIAS</option>
            <option value="DESARROLLO">DESARROLLO</option>
        </select>

        <select id="filtroCuatri" class="form-select me-2" oninput="filterTable()">
            <option value="">Todas los Cuatrimestres</option>
            <option value="6to">6to</option>
            <option value="11vo">11vo</option>
        </select>

        <select id="filtroGrupo" class="form-select me-2" oninput="filterTable()">
            <option value="">Todas los Grupos</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
        </select>

    </div>
    <div class="table-container-list">
        <table class="alumnos-table-list">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <!--<th>Correo Instirucional</th>-->
                    <th>Telefono</th>
                    <th>Carrera</th>
                    <th>Grupo</th>
                    <th>Cuatrimestre</th>
                    <th>Periodo</th>
                    <th>Estadia en</th>

                </tr>
            </thead>
            <tbody id="table-body">
                {% for alumno in alumnos|sort(attribute='Apellido_Pat') %}
                <tr data-id="{{ alumno['_id'] }}" data-progreso="{{ alumno.progreso }}"
                    data-ultima-actividad="{{ alumno.ultima_actividad }}"
                    data-nombre="{{ alumno.Nombre }} {{ alumno.Apellido_Pat }}">
                    <td>{{ alumno['Matricula'] }}</td>
                    <td>{{ alumno['Apellido_Pat'] }} {{ alumno['Apellido_Mat'] }} {{ alumno['Nombre'] }}</td>
                    <td>{{ alumno['Telefono'] }}</td>
                    <td>{{ alumno['Carrera'] }}</td>
                    <td>{{ alumno['Grupo'] }}</td>
                    <td>{{ alumno['Cuatrimestre'] }}</td>
                    <td>{{ alumno['Duracion'] }}</td>
                    <td>{{ alumno['TSU/ING'] }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% for alumno in alumnos %}

<!-- Barra lateral de progreso para cada alumno -->
<div id="Progreso{{ alumno['_id'] }}" class="sidebar-progreso">
    <div class="header">
        <h3>Progreso del Estudiante</h3>
        <button type="button" class="close-btn" aria-label="Cerrar" onclick="cerrarBarra('Progreso{{ alumno['_id'] }}')">X</button>
    </div>
    <div class="contenido">
        <h4 id="nombreAlumno">{{ alumno.Nombre }} {{ alumno.Apellido_Pat }}</h4>
        <div class="progress">
            {% set progreso_total = alumno.progreso if alumno.progreso else 0 %}
            {% set progreso_clase = 'bg-primary' if progreso_total < 100 else 'bg-success' %} 
            <div
                class="progress-bar {{ progreso_clase }}" role="progressbar" aria-valuenow="{{ progreso_total }}"
                aria-valuemin="0" aria-valuemax="100" style="width: {{ progreso_total }}%;">
                {{ progreso_total | round(0) }}%
            </div>
        </div>    
        <div class="table-container">
            <table class="alumnos-table">
                <thead style="background-color: var(--primary-color);">
                    <tr>
                        <th>Actividad</th>
                        <th>Estatus</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% if alumno.actividades %}
                        {% for actividad in alumno.actividades %}
                        <tr>
                            <td>{{ actividad.nombre }}</td>
                            <td>
                                {{ actividad.estatus }} 
                                {% if actividad.estatus == 'completado' %}
                                    <i style="color: green;" class="bi bi-check2-circle"></i>
                                {% else %}
                                    <i style="color: red;" class="bi bi-x-circle"></i>
                                {% endif %}
                            </td>
                            <td class="pdf-icon-cell">
                                {% if actividad.estatus != 'completado' %}
                                    {% if actividad.encargado == 'finanzas' %}
                                            {% if actividad.nombre == 'Caja' %}
                                            <a href="{{ url_for('update_vinculacion.actualizar_estado_Actividad', documento_id=actividad.idActividad, id_alumno=alumno._id, redirect_view='Finanzas.Finanzas', nombre=alumno.Nombre + ' ' + alumno.Apellido_Pat) }}" class="btn">Completar</a>

                                            {% else %}
                                            {% endif %}    
                                    {% else %}
                                        <span>No disponible</span>
                                    {% endif %}
                                {% else %}
                                <span>Actividad completada</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3">No hay actividades disponibles.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endfor %}




{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {

    });


</script>




<script>
    function filterTable() {
        // Obtener el valor del cuadro de búsqueda
        let searchInput = document.getElementById('search-box').value.toLowerCase();
        let filterCarrera = document.getElementById('filtroCarrera').value.toLowerCase(); // Cambiado a toLowerCase()
        let filterEstadia = document.getElementById('filtroEstadia').value.toLowerCase(); // Cambiado a toLowerCase()
        let filterCuatri = document.getElementById('filtroCuatri').value.toLowerCase();
        let filterGrupo = document.getElementById('filtroGrupo').value.toLowerCase(); // Cambiado a toLowerCase()
        // Obtener las filas de la tabla
        let tableRows = document.querySelectorAll('#table-body tr');

        // Recorrer cada fila y mostrar u ocultar según el criterio de búsqueda
        tableRows.forEach(row => {
            // Obtener el texto de cada columna relevante en la fila
            let nombreText = row.cells[0].textContent.toLowerCase();
            let matriculaText = row.cells[1].textContent.toLowerCase();
            let carreraText = row.cells[3].textContent.toLowerCase(); // Cambiado a toLowerCase()
            let estadiaText = row.cells[7].textContent.toLowerCase();
            let cuatriText = row.cells[5].textContent.toLowerCase();
            let grupoText = row.cells[4].textContent.toLowerCase();

            // Verificar si el texto de búsqueda coincide con el nombre o la matrícula
            let matchesSearch = nombreText.includes(searchInput) || matriculaText.includes(searchInput);
            let matchesCarrera = filterCarrera === "" || carreraText.includes(filterCarrera);
            let matchesEstadia = filterEstadia === "" || estadiaText.includes(filterEstadia);
            let matchesCuatri = filterCuatri === "" || cuatriText.includes(filterCuatri);
            let matchesGrupo = filterGrupo === "" || grupoText.includes(filterGrupo);

            // Mostrar u ocultar la fila según los criterios de filtro
            if (matchesSearch && matchesCarrera && matchesEstadia && matchesCuatri && matchesGrupo) {
                row.style.display = ""; // Mostrar fila
            } else {
                row.style.display = "none"; // Ocultar fila
            }
        });
    }
</script>


<script>
    // Variable para guardar el sidebar abierto actualmente
    let sidebarAbierto = null;

    // Manejo del doble clic en las celdas de la tabla
    document.querySelectorAll('.alumnos-container .alumnos-table-list td').forEach(function (td) {
        td.addEventListener('dblclick', function () {
            // Obtener el ID del alumno desde el atributo data-id de la fila
            var fila = this.closest('tr');
            var idAlumno = fila.getAttribute('data-id');

            // Obtener la barra lateral correspondiente al alumno
            var barraLateral = document.getElementById('Progreso' + idAlumno);

            if (barraLateral) {
                // Verificar si hay otra barra lateral abierta
                if (sidebarAbierto && sidebarAbierto !== barraLateral) {
                    // Cerrar la barra lateral abierta previamente
                    sidebarAbierto.classList.remove('show');
                }

                // Abrir la nueva barra lateral y actualizar el estado de sidebarAbierto
                barraLateral.classList.add('show');
                sidebarAbierto = barraLateral;
            }
        });
    });



    // Función para cerrar la barra lateral
    function cerrarBarra(idBarra) {
        var barraLateral = document.getElementById(idBarra);
        if (barraLateral) {
            barraLateral.classList.remove('show');

            // Limpiar la referencia de sidebarAbierto si es el mismo que se está cerrando
            if (sidebarAbierto === barraLateral) {
                sidebarAbierto = null;
            }
        }
    }

    

    /* // (Opcional) Cerrar el modal al hacer clic en el botón de cerrar
    // Esto es redundante si usas data-bs-dismiss en el botón de cerrar de Bootstrap
    document.querySelectorAll('.close-btn').forEach(function(btn) {
        btn.onclick = function() {
            var modal = this.closest('.modal');
            var bootstrapModal = bootstrap.Modal.getInstance(modal);
            if (bootstrapModal) {
                bootstrapModal.hide();
            }
        };
    }); */
</script>





{% endblock %}